$alert500: #eb5757;
$GR500: #00ac62;
$GR200: #99dec0;
$GR100: #d0f8e7;
$GR50: #e4fff4;
$PK500: #f292b7;
$PK200: #ffbcd6;
$PK100: #ffe4ef;
$PK50: #fff0f6;
$BL500: #0066d9;
$BL400: linear-gradient(0deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), #0066d9;
$BL300: #99c2f0;
$BL100: #cce0f7;
$BL50: #e5f0fb;
$GY900: #363841;
$GY700: #606374;
$GY500: #8b8fa2;
$GY300: #c2c5d0;
$GY200: #d7dae2;
$GY100: #e7e9f0;
$GY50: #f3f5fa;

:export {
  alert500: $alert500;
  GR500: $GR500;
  GR200: $GR200;
  GR100: $GR100;
  GR50: $GR50;
  PK500: $PK500;
  PK200: $PK200;
  PK100: $PK100;
  PK50: $PK50;
  BL500: $BL500;
  BL400: $BL400;
  BL300: $BL300;
  BL100: $BL100;
  BL50: $BL50;
  GY900: $GY900;
  GY700: $GY700;
  GY500: $GY500;
  GY300: $GY300;
  GY200: $GY200;
  GY100: $GY100;
  GY50: $GY50;
}
